body {
    color:var(--primary-color);
    background-color: var(--secondary-color);
    font-family:Helvetica, Arial, sans-serif;
}
:root {
        --primary-color: rgb(35, 8, 61);
        --secondary-color: #57acd3;
        --tertiary-color: rgb(87, 79, 79);
} 
*  {
    margin: 0;
    padding: 0;
}
header {
    padding: 20px 35px;
    background-color: rgb(87, 79, 79);
}
header h1 {
    font-weight: bold;
    font-size: 36px;
    color: var(--primary-color);
    margin: 0;
    border: solid;
    background-color: var(--secondary-color);
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
header a {
    color: var(--primary-color);
}
header nav {
    margin: 7px 0;
}
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: flex-end;
    list-style: none;
}
header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 22px;
}
header nav ul li a:hover {
    background: var(--primary-color);
    color: var(--secondary-color);
    text-shadow: none;
}
.section-title {
    padding: 0 50px 20px 50px;
    margin-bottom: 35px;
    display: inline-block;
    border-right: 3px solid var(--primary-color);
}
.hero {
    height: 200px;
    margin: 0 50px;
    background-image: url(./0945_Seamless_final-2.jpg);
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: flex-end;
}
.hero h2 {
    color: var(--secondary-color);
}
.about {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.about-info {
    flex: 2 70%;
    line-height: 1.2;
    padding: 20px;
}
.my-work {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.grid-container {
    margin-left: 100px;
    width: 600px;
    display: grid;
    grid-template-columns:  repeat(3, 1fr);
    grid-template-rows:  repeat(3, 200px);
    grid-gap: 10px;
}
.grid-item {
    padding: 1em;
    position: relative;
}

.grid-item h4 {
    display: flex;
    align-items: flex-end;
    padding: 15px;
    background-color: var(--secondary-color);
}

.main {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(117, 19, 93, 0.73)),
     url(../assets/hero-bg\ \(1\).jpg);
    max-height: 100%;
    background-size: cover;
    background-position: right;
}
.main:hover {
    background-image: url(../assets/hero-bg\ \(1\).jpg);
}
.second {
    background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(117, 19, 93, 0.73)),
    url(../assets/waves.jpg);
    max-height: 100%;
    background-size: cover;
}
.second:hover {
    background-image: url(../assets/waves.jpg);
}
.third {
    background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(117, 19, 93, 0.73)),
    url(../assets/forest.jpg);
    background-size: 225px 225px;
}
.third:hover {
    background-image: url(../assets/forest.jpg);
}
.fourth {
    background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(117, 19, 93, 0.73)),
    url(../assets/restaurant.jpg);
    background-size: cover;
}
.fourth:hover {
    background-image: url(../assets/restaurant.jpg);
}
.fifth {
    background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(117, 19, 93, 0.73)),
    url(../assets/puzzle.jpg);
    background-size: cover;
    background-position: center;
}
.fifth:hover {
    background-image: url(../assets/puzzle.jpg)
}
footer {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
footer h1 {
    font-weight: bold;
    
}
footer ul {
    list-style: none;
    display: flex;
}
footer li {
    padding: 25px;
}
footer ul li a:hover {
    background: var(--primary-color);
    color: var(--secondary-color);
}

@media screen and (max-width: 980px) {}
@media screen and (max-width: 768px) {
    header h1 a {
        padding: 0 0 0 50px;
    }
    header nav ul {
        justify-content: center;
    }
    .about {
        flex-wrap: inherit;
    }
    .grid-container {
        width: 400px;
        display: grid;
        grid-template-columns:  repeat(1, 1fr);
        grid-template-rows:  repeat(6, 200px);
        grid-gap: 10px;
    }
    .main {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
    }

@media screen and (max-width: 575px) {}  